.timer-container {
    width: 25rem;
    height: 25rem;
    background-color: rgba(255, 255, 255, 0.10);
    border: solid 5px var(--timer-bg-color);
    box-shadow:0 4px 36px 0 rgba(0, 0, 0, 0.212);
    border-radius: 30rem;
    overflow:hidden;
    display: flex;
    align-items: flex-end;
    overflow: visible;
  }
  
  .timer-font {
    width: 100%;
    text-align: center;
    color:#FFF;
    font-family: 'Roboto Mono', monospace;
    font-size: 11rem;
    font-weight: 700;
    letter-spacing: -.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .timer-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .timer-button {
    color: white;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    padding: 10px 15px;
    margin: 1.7rem auto 1.3rem auto;
    letter-spacing: .1rem;
    font-size: .7rem;
    transition: all .3s;
    border-radius: 5px;
    width: 8rem;
  
      &:hover{
        transform: scale(1.05);
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer;
      }
  }

  .icon-button {
    margin: auto;
    display: flex;
    align-items: flex-end;
    transform: scale(2.2);
    transition: all .3s;
  
      &:hover {
        transform: scale(2.5);
        cursor: pointer;
      }
  }
    