.App {
    background-color: var(--background-color);
    /* font-size: calc(10px + 2vmin); */
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.particles {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

@media (max-width: 700px) {
    .App {
        height: 85vh;
        justify-content: flex-start;
    }
}

.MuiDrawer-root .MuiDrawer-paperAnchorLeft {
    background: linear-gradient(45deg, var(--deeper-color) 30%, var(--highlight-color) 90%);
}
