:root {
    --background-color: #282c34;
    --background-color-lighter: #2f333d;

    --deeper-color: rgb(254, 107, 139);
    --highlight-color: rgb(255, 142, 83);
    --highlight-dim: rgba(255, 142, 83, 0.6);

    --popup-underline: var(--highlight-color);
    --popup-btn-text: var(--highlight-color);
    --popup-text: rgba(255, 255, 255, 0.5);
    --popup-title: white;
    --popup-bg: rgb(60, 60, 60);

    --timer-bg-color: #2d74a3;
    --neon-green: #61dafb;
    --xs: 575.98;
    --sm: 767.98;
    --md: 991.98;
    --lg: 1368;
}

html {
    background-color: var(--background-color);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
